* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #535353;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	width: 85%;
	flex-direction: column;
	justify-content: space-around;
}

textarea {
	resize: none;
	border: none;
	padding: 20px;
	background-color: #143f53;
	color: #d8d8d8;
	outline: none;
	font-size: 20px;
	text-align: justify;
	border-radius: 28px;
}

textarea:focus {
	border: 2px solid #000000;
}

button {
	background-color: #202020;
	color: #c7c7c7;
	padding: 5px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	animation: fadeIn 2s;
	font-size: 16px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}